*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  margin-left: 50%;
  height: 100vh;
  transform: translateX(-50%);
  background: #d9d9d9;
}
.container{
  display: flex;
  justify-content: center;
  position: relative;
}
.stick{
  display: flex;
  justify-content: center;
  width: 10px;
  height: 500px;
  background: linear-gradient(to right,#CFD4D9,#fff,#CFD4D9);
  border-radius: 5px 5px 0 0;
  position: relative;
}
.stick::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 10px;
  background: linear-gradient(to right,#CFD4D9,#fff,#CFD4D9);;
  top: 20px;
  border-radius: 10px;
  z-index: 5;
}
.stick::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 10px;
  background: linear-gradient(to right,#CFD4D9,#fff,#CFD4D9);;
  top: 10px;
  border-radius: 10px;
  z-index: 5;
}

.flag{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 180px;
  top: 30px;
  left: 10px;
}
.flag-element{
  position: relative;
  background: url(/flag.jpeg);
  background-size: 270px 100%;
  width: 1px;
  height: 100%;
  display: inline-block;
  animation: wave 1s ease-in-out infinite alternate;
}
@keyframes wave{
  0%{
    top: 5%;
  }
  100%{
    top: -5%;
  }
}


.base{
  display: flex;
  justify-content: center;
  position: absolute;
  height: 50px;
  width: 100px;
  background: grey;
  bottom: 0;
  border-radius: 20% 20% 0 0;
  border: 2px solid;
  background-image: url('/images.jpeg');
  background-size: 290%;
  transform: rotateX(-45deg);
}
.base::after{
  content: '';
  position: absolute;
  height: 50px;
  width: 130px;
  background: grey;
  bottom: -25px;
  border-radius: 20% 20% 0 0;
  border: 2px solid;
  background-image: url('/images.jpeg');
  background-size: 220%;
  z-index: 2;
}
.base::before{
  content: '';
  position: absolute;
  height: 40px;
  width: 160px;
  background: grey;
  bottom: -35px;
  border-radius: 20% 20% 0 0;
  border: 2px solid;
  background-image: url('/images.jpeg');
  background-size: 250%;
  z-index: 3;
}
